opencv-python>=4.10.0
scipy==1.13.1
scikit-image==0.24.0
transformers==4.41.2
timm==1.0.3
open_clip_torch==2.24.0
fairscale==0.4.13
einops==0.8.0
huggingface_hub==0.23.3
matplotlib>=2.1.0
numpy==1.25.2
pyyaml==6.0.1
safetensors==0.4.3
regex==2024.5.15
ftfy==6.2.0
tqdm==4.66.4
sentencepiece==0.1.99
protobuf==3.20.3
filelock==3.14.0
fsspec>=2023.5.0
packaging>=20.9
requests==2.31.0
typing-extensions>=3.7.4.3
contourpy>=1.0.1
cycler>=0.10
fonttools>=4.22.0
kiwisolver>=1.0.1
pillow>=6.2.0
pyparsing>=2.3.1
python-dateutil>=2.7
sympy==1.12.1
networkx==3.3
jinja2==3.1.4
triton==2.3.0
wcwidth<0.3.0,>=0.2.12
certifi>=2017.4.17
MarkupSafe>=2.1.1
pyasn1-modules>=0.2.1
rsa<5,>=3.1.4
requests-oauthlib>=0.7.0
oauthlib>=3.0.0
absl-py>=0.4
grpcio>=1.48.2
google-auth<3,>=1.6.3
google-auth-oauthlib<2,>=0.5
markdown>=2.6.8
tensorboard>=2.15.2
cachetools<6.0,>=2.0.0
pyasn1<0.7.0,>=0.4.6
termcolor>=1.1
yacs>=0.1.8
tabulate==0.9.0
cloudpickle==2.2.1
fvcore<0.1.6,>=0.1.5
iopath<0.1.10,>=0.1.7
omegaconf<2.4,>=2.1
hydra-core>=1.1
black==24.4.2
click>=8.0.0
mypy-extensions>=0.4.3
pathspec>=0.9.0
platformdirs>=2
tomli>=1.1.0
